html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

header {
    font-family: 'Roboto Slab', serif;
    color: white;
}

header#index-header {
    background: url('../media/header.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

header#wedstrijd-details-header {
    background: url('../media/header.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    height: 40vh;
    width: 100%;
}

header#wedstrijd-details-header::before {
    content: '';
    width: 100%;
    height: 40vh;
    float: left;
    background: rgba(10, 100, 128, 0.8);
}

.nav-wedstrijd-details {
    width: 100%;
    background: rgba(10, 100, 128, 0.8);
    color: white;
    padding: 10px;
}

.nav-wedstrijd-details a:link {
    color: white;
}

.nav-wedstrijd-details a:visited {
    color: white;
}

.nav-wedstrijd-details a:active {
    text-decoration: underline;
}

header a:link {
    color: white;
}

header a:visited {
    color: white;
}

header a:hover {
    text-decoration: underline !important;
}

ul.nav {
    position: fixed;
    top: 0;
    right: 0;
}

#title{
    margin: auto auto;
    font-weight: 800;
    font-size: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section {
    height: 100vh;
    width: 100%;
}

p.table-title {
    font-size: 16px;
}

.game-tables {
    width: 80%;
    margin: auto auto;
}

.weddenschap-button {
    min-width: 50px;
}

#firstUpcomingGames p {
    margin-top: 50px;
}

.container h1 {
    font-size: 20px;
    margin: 50px 0;
}

#wedstrijd-uitslag {
    height: 40vh;
    background: red;
}

footer {
    height: 30px;
    background: black;
    color: white;
    text-align: center;
}

#login-container {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.left-side {
    width: 30%;
    height: 100%;
}

#left-side-background {
    background: url('../media/header.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    float: left;
}

.absolute-logo {
    font-family: 'Roboto Slab', serif;
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 200;
    color: white;
    font-size: 50px;
}

#left-side-background::before {
    content: '';
    color: white;
    width: 100%;
    float: left;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.left-side p {
    color: white;
    width: 100%;
    text-align: center;
}

#right-side {
    width: 70%;
    height: 100%;
    float: right;
    color: #a8a9ad;
}

#right-side h1 {
    font-weight: 200 !important;
    text-align: center;
}

#slogan {
    position:absolute; 
    top: 60%; 
    left: 0; 
    z-index: 1; 
    width: 30%; 
    color: white !important; 
    text-align: center;
}

.right-side-form {
    margin-top: 100px; 
    margin-left: 15%; 
    margin-right: 15%;
}
